<!-- <div class="topbar">
  <span class="app-title"><i class="pi pi-clock"></i> Timesheet App</span>
  <div class="user-info">
    <i class="pi pi-user"></i>
    <span class="username">Varsha Yadav</span>
  </div>
</div> -->
<div class="topbar">
  <div class="breadcrumb">
    <span>Timesheet</span>
      <span class="breadcrumb-separator">|</span>
    <span>My Timesheet-Week</span>
  </div>
  <div class="topbar-right">
    <i class="pi pi-user"></i>
    <span class="username">Varsha Yadav</span>
  </div>
</div>