.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  justify-content: flex-end;
}

.modal-panel-right {
  width: 450px;
  background: #fff;
  height: 100%;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  border-radius: 10px 0 0 10px;
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.3rem;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.modal-body label {
  margin-top: 20px;
  font-weight: 450;
}

.red-star{
  color:red
}

.invalid {
  border: 1px solid red !important;
  box-shadow: 0 0 3px red;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.custom-select option.placeholder-option {
  color: #727171;
 
}

.custom-select:focus option.placeholder-option {
  display: none;
}

.custom-select.invalid {
  border: 1px solid red;
}

/* .error {
  color: red;
  font-size: 13px;
  margin-top: 4px;
} */


.modal-body input,
.modal-body select,
.modal-body textarea {
  padding: 8px 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.modal-body textarea {
  height: 60px;
  
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}

.btn-cancel {
  padding: 6px 16px;
  border: 1px solid red;
  color: red;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.btn-save {
  padding: 6px 16px;
  border: none;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
