/* You can add global styles to this file, and also import other style files */
/* .main-content {
  margin-left: 220px;  /* Sidebar width */
  /* margin-top: 56px;    /* Topbar height */
  /* padding: 2rem;
  min-height: calc(100vh - 56px);
  background: #f4f6f8;
  box-sizing: border-box;
} */ 

body, html {
  margin: 0;
  padding: 0;
  background-color: #f3f8fc;
  font-family: 'Segoe UI', sans-serif;
}

.main-wrapper {
  background-color:#f3f8fc;
  /* min-height: 100vh; */
}

.main-content {
  margin-left: 230px;  /* Match your <app-sidebar> width */
  margin-top: 66px;    /* Match your <app-topbar> height */
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  min-height: calc(100vh - 66px);
}